*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(241,246,255,255);
}

.color{
    background-color: rgba(75,26,158,255);
}

.navbar{
    padding-bottom: 70px;
}

.navbar-brand{
    color:white;
    font-weight: bold;
}

.navbar-brand:hover{
    color:white;
}

.form-control{
    border-radius: 5px 0 0 5px;
}

.search{
    background-color: white;
    color:black;
    border-radius: 0 5px 5px 0;
}

.destination{
    background-color: white;
    margin-top: -45px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.place p{
    color: rgba(75,26,158,255);
}

#dropdown{
    width: 200px;
    border: none;
}

.find-price{
    color:white;
    background-color: rgba(75,26,158,255);
}

.find-price:hover{
    color:black;
    border: 2px solid rgba(75,26,158,255);
    background-color: white;
}

.popular{
    font-weight: bold;
}

.view-all{
    color: rgba(75,26,158,255);
}

.owl-theme{
    margin-top: -20px !important;
}

.owl-dot span{
    background-color: white !important;
    border:1px solid rgba(75,26,158,255);
}

.owl-dots .active span{
    background-color: rgba(75,26,158,255) !important;
}

.offer{
    background-color: white;
    border-radius: 10px;
    padding:7px;
}

.offer-img img{
    border-radius: 10px;
}